/* PHASE 0: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  font-family: 'Roboto', sans-serif;
  box-sizing: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance:    none;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;

}

/* Clearfix */

.group:after {
  content: "";
  clear: both;
  display: block;
}
