/* PHASE 2: Notifications */
.badge {
  font-size: 14
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: #000;
  float: right;
  text-align: center;
  margin-left: 5px;
}

.header-list > li:hover a .badge {
  background-color: #f00;
}

.dropdown {
  display: none;
  width: 240px;
  padding: 0px;
}

.header-list > li:hover .dropdown {
  display: block;
  position: absolute;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.dropdown > li {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
